html {
  background: url(../img/ny-skyline.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#inner_container {
  margin: auto;
  width: 500px;
  height: 587px;
  padding-top: 70px;
  background: url(../img/logo_500.png) center bottom no-repeat;
}

#main {
  width: 900px;
  margin: 10px auto 0;
  color: #F3F4EC;
  font-family: 'Open Sans', sans-serif;
}

#main h1 {
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-shadow: 1px 1px 0px #000, 2px 2px 0px #737373;
}

#jsconf {
  width: 100px;
  margin: 10px auto 0;
}
@media all and (max-width: 480px) {
  
  #container {
    background: url(../img/ny-skyline.jpg) no-repeat center center;
    background-size: auto 100%;
    min-height: 900px;
    height: 100%;
  }

  #inner_container {
    padding-top: 20px;
    width: 300px;
    height: 352px;
    background: url(../img/logo_300.png) center bottom no-repeat;
  }

  #main {
    width: 80%;
  }
}
